<template>
    <div>
      <Submissions />
      <CareerPosts />
      <HelpPage />
    </div>
</template>

<script>
    import Submissions from "./components/Submissions";
    import CareerPosts from "./components/CareerPosts";
    import HelpPage from "./components/HelpPage";
    export default {
        name: 'App',
      components: {HelpPage, CareerPosts, Submissions},
    }
</script>